@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <!-- it works the same with all jquery version from 1.x to 2.x -->
        <script type="text/javascript" src="@routes.Assets.at("js/jquery-1.9.1.min.js")"></script>
        <!-- use jssor.slider.mini.js (40KB) instead for release -->
        <!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
        <script type="text/javascript" src="@routes.Assets.at("js/jssor.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("js/jssor.slider.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>
