@(videos: java.util.ArrayList[java.util.ArrayList[String]])

@base("Photo gallery") {
<body class="loading">
	<!-- Start of Container -->
	<div id="container" class="cf" align="center">
		<div id="main" role="main">
			<section class="slider">
				@for((video, index) <- videos.zipWithIndex) {
				<div class="flexslider feature" id="feature@(index+1)" style="display:none">
					<div class="flex-viewport" style="overflow: hidden; position: relative;">
						<ul class="slides" style="	width: 2000%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(0px, 0px, 	0px); transform: translate3d(0px, 0px, 0px);">
							@for((filename, index) <- video.zipWithIndex){
							<li style="width: 100px; float: left; display: block;">
								<img class="keyframe" id=@filename src=@routes.Assets.at("video/")@filename>
							</li>
							}
						</ul>
					</div>
				</div>
				}
				<div id="slider" class="flexslider">
					<ul class="slides">
						@for((video, index) <- videos.zipWithIndex) {
						<li>
							<canvas class="video" id="@(index+1)" width="352" height="288"></canvas>
						</li>
						}
					</ul>
				</div>
				<div id="carousel" class="flexslider">
					<ul class="slides">
						@for((filename, index) <- videos.zipWithIndex) {
						<li>
							<img class="thumbnail" id=@(index+1) src=@routes.Assets.at("video/")@(index+1).1.jpg />
						</li>
						}
					</ul>
				</div>

			</section>
		</div>
	</div>
	<!-- End of Container -->

	<!-- Demo CSS -->
	<link rel="stylesheet" href=@routes.Assets.at("stylesheets/flexslider.css") type="text/css" media="screen" />
	<link rel="stylesheet" href=@routes.Assets.at("stylesheets/default.css") type="text/css" media="screen" />
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<!-- FlexSlider -->
	<script defer src=@routes.Assets.at("js/jquery.flexslider.js")></script>

	<script type="text/javascript">
		$(window).load(function(){
			$('#carousel').flexslider({
				animation: "slide",
				controlNav: false,
				animationLoop: false,
				slideshow: false,
				itemWidth: 100,
				itemMargin: 5,
				mousewheel:	true,
				asNavFor: '#slider'
			});

			$('#slider').flexslider({
				animation: "slide",
				animationLoop: false,
				controlNav: false,
				slideshow: false,
				mousewheel:	true,
				sync: "#carousel",
				start: function(slider){
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<script defer src=@routes.Assets.at("js/videoPlayer.js")></script>
</body>
}
