@(face: String, scene: String, sift: String, cartoon: String, video: String)

@base("Photo gallery") {
<body>
	<div id="container" align="center">
		<ul class='kwicks kwicks-vertical'>
			<li>
				<ul class='kwicks kwicks-horizontal'>
					<li>
						<a href="/face"><img src = @routes.Assets.at("img/")@face></a>
						<div class="flex-caption">
							<h3>Face</h3>
						</div>
					</li>
					<li>
						<a href="/cartoon"><img src=@routes.Assets.at("img/")@cartoon></a>
						<div class="flex-caption">
							<h3>Cartoon</h3>
						</div>
					</li>
				</ul>
			</li>
			<li>
				<ul class='kwicks kwicks-horizontal'>
					<li>
						<a href="/scene"><img src=@routes.Assets.at("img/")@scene></a>
						<div class="flex-caption">
							<h3>Scene</h3>
						</div>
					</li>
					<li>
						<a href="/sift"><img src=@routes.Assets.at("img/")@sift></a>
						<div class="flex-caption">
							<h3>Cluster</h3>
						</div>
					</li>
				</ul>
			</li>
			<li>
				<ul class='kwicks kwicks-horizontal'>
					<li>
						<a href="/video"><img src=@routes.Assets.at("video/")@video></a>
						<div class="flex-caption">
							<h3>Video</h3>
						</div>
					</li>
					<li>
						<!-- <a href="/"><img src=@routes.Assets.at("video/1.4.jpg")></a> -->
						<div class="flex-caption">
							<h3>OAID</h3>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
<footer>
	<link rel="stylesheet" type="text/css" href=@routes.Assets.at("stylesheets/jquery.kwicks.min.css") />
	<link rel="stylesheet" type="text/css" href=@routes.Assets.at("stylesheets/default.css") />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src=@routes.Assets.at("js/jquery.kwicks.min.js") type="text/javascript"></script>
	<script type="text/javascript">
	$(function() {
		$('.kwicks-vertical').kwicks({
			maxSize : 400,
			// spacing : 5,
			isVertical: true,
			behavior: 'menu',
			selectOnClick: false
		});

		$('.kwicks-horizontal').kwicks({
			maxSize: 400,
			// spacing: 5,
			behavior: 'menu',
			selectOnClick: false
		});
	});
	</script>
</footer>
}
